
<div class="container-fluid about-us-container" style="color: #000">

  <div class="m-4">
    <div class="container-fluid">
      <h2
        style="margin-bottom: 2rem; text-align: center"
        class="line-with-text headerText">
        ❋&nbsp;About Us&nbsp;❋
      </h2>
      <p style="font-size: 18px; line-height: 1.8; color: #000">
        Founded in 1978 in Erode, Tamil Nadu, 'Oswal' initially operated under
        the name Oswal Textile Mills, quickly becoming a prominent seller of
        cotton fabrics by 1983. With the burgeoning demand for polyester
        fabrics, the company transitioned to Surat, Gujarat, in 1986,
        garnering widespread acclaim for its innovative polyester textiles.
      </p>
      <p style="font-size: 18px; line-height: 1.8; color: #000">
        In 2010, Oswal Fibrotex Mills India Pvt Ltd was established, marking
        our expansion into numerous African countries. Building on this
        success, in 2016, we introduced 'Osian Star Exports LLP', extending
        our business reach to
        <b>Turkey, Egypt, Tunisia, Algeria, Jordan, Ethiopia, and Sudan</b>.
        Renowned as 'Osian Star', our registered trademark, we have excelled
        in exporting a diverse range of embroidery fabrics, including schiffli
        and multy, solidifying our reputation as a leader in the textile
        industry.
      </p>
      <p style="font-size: 18px; line-height: 1.8; color: #000">
        Our vision is to be a global leader in sustainable business practices
        and environmental commitment to innovation &
        empowerment,Throughgrowth, Our Vision & Mission and innovation, we
        aspire to create a brighter, more sustainable future for our
        organization, our stakeholders, and the world at large. We envision a
        world where businesses prioritize environmental stewardship and social
        responsibility, leading to a thriving ecosystem of sustainable
        development and progress.
      </p>
      <p style="font-size: 18px; line-height: 1.8; color: #000">
        Our mission is to offer sustainable business solutions and develop
        innovative, environmentally friendly ideas that empower individuals
        within our organization and drive growth in society. We aim to foster
        a culture of creativity and collaboration to design and produce
        cutting-edge products that meet the needs of today while preserving
        the planet for future generations.
      </p>
      <p style="font-size: 18px; line-height: 1.8; color: #000">
        As a distinguished presence in the textile industry, we specialize in
        manufacturing and exporting a wide array of high-quality premium
        fabrics and laces. Leveraging years of expertise and a formidable
        market position, we've diversified our offerings to include a garment
        division, dedicated to meeting the sophisticated preferences and
        discerning tastes of customers across
        <b>Japan, Scandinavia, Australia, and South America.</b>
      </p>
    </div>

    <div class="container-fluid">
      <div class="container-fluid"
        style="margin-top: 3rem;margin-bottom: 2rem;">
        <h2 style="text-align: center" class="line-with-text headerText">
          ❋&nbsp;Leadership&nbsp;❋
        </h2></div>
      <section class="wrapper">
        <div class="container container-upcoming">
          <div class="row">
            <!-- First Card -->
            <div class="col-md-4 col-sm-6 mb-3">
              <div class="card cardNewLaunches">
                <img src="/assets/leadership/chairman.jpeg"
                  alt="Fabric"
                  class="card-img-top-newlaunces-newlaunces" />
                <div class="card-body newLauncesCardBody">
                </div>
                <div class="card-footer ">
                  <div class="media">
                    <span class="headerText textUpcomingLaunches"
                      style="color: white;">Mr. Ajitsingh Bachhraj
                      Choraria <br> (Chairman)</span>
                  </div>
                </div>
              </div>
            </div>

            <!-- Second Card -->
            <div class="col-md-4 col-sm-6 mb-3">
              <div class="card cardNewLaunches">
                <img src="/assets/leadership/managingDirector.jpeg"
                  alt="Fabric"
                  class="card-img-top-newlaunces-newlaunces" />
                <div class="card-body newLauncesCardBody">
                  <!-- <span class="headerText textUpcomingLaunches">Scarf</span> -->
                </div>
                <!-- Footer section -->
                <div class="card-footer">
                  <div class="media">
                    <span class="headerText textUpcomingLaunches"
                      style="color: white;">Mr. Shreyans
                      Ajitsingh Jain <br>(Managing Director) </span>
                  </div>
                </div>
              </div>
            </div>

            <!-- Third Card -->
            <div class="col-md-4 col-sm-6 mb-3">
              <div class="card cardNewLaunches">
                <img src="/assets/leadership/executiveDirector.jpeg"
                  alt="Fabric"
                  class="card-img-top-newlaunces-newlaunces" />
                <div class="card-body newLauncesCardBody">
                  <!-- <span class="headerText textUpcomingLaunches">Cushion</span> -->
                </div>
                <!-- Footer section -->
                <div class="card-footer ">
                  <div class="media">
                    <span class="headerText textUpcomingLaunches"
                      style="color: white;">Mr.
                      Siddharth
                      Ajitsingh Choraria<br>(Executive Director)
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="container-fluid py-5">
      <h2 style="text-align: center" class="line-with-text headerText">
        ❋&nbsp;Our Core Value&nbsp;❋
      </h2>

      <div class="row align-items-center my-4" style="gap: 3rem">
        <div class="col-md-3 text-center">
          <img
            src="/assets/pdfimg/core1.png"
            alt="Core Values"
            class="img-fluid rounded shadow" />
        </div>

        <div class="col-md-7">
          <div class="d-flex flex-column gap-3">
            <p class="fs-5 lh-lg">
              ◆ Deliver best products through technological transformation,
              modernization, and diversification has been our core competence.
            </p>
            <p class="fs-5 lh-lg">
              ◆ After 4 decades of manufacturing a large range of cotton &
              synthetic fabrics, we have diversified into readymade garment
              manufacturing too.
            </p>
            <p class="fs-5 lh-lg">
              ◆ Catering to the readymade garment market with our large range
              of garments for both women & kids – modern, stylish &
              comfortable.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <p style="font-size: 18px; line-height: 1.8; color: #000">
        At Osian Star Export LLP, we are dedicated to providing high-quality
        garments that really look great, as well as make our customers feel
        oconfident and comfortable. Our vision is to become a leading brand in
        the fashion industry, known for our innovative designs, exceptional
        craftsmanship, and commitment to sustainability. We strive to create a
        diverse range of clothing options that cater to individuals of all
        shapes, sizes, and style preferences. Through our attention to detail
        and customer feedback, we are continuously improving and expanding our
        product offerings to meet the ever-evolving needs of our valued
        clients. Our goal is to inspire confidence and empower individuals to
        express their unique personalities through the clothes they wear. Join
        us on this journey as we redefine fashion and set new standards for
        the clothing industry.
      </p>
    </div>

    <div style="margin-bottom: 2rem"></div>
    <div class="container">
      <h2
        style="margin-bottom: 2rem; text-align: center"
        class="line-with-text headerText">
        ❋&nbsp;Our Products&nbsp;❋
      </h2>

      <div
        style="
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            align-items: center;
            justify-content: center;
          ">
        <div style="flex: 1; min-width: 300px; text-align: center">
          <img
            alt="Product Image"
            src="/assets/pdfimg/product1.png"
            style="
                width: 100%;
                max-width: 40rem;
                height: auto;
                border-radius: 10px;
              " />
        </div>

        <div style="flex: 1; min-width: 300px">
          <p
            style="
                font-size: 1.2rem;
                line-height: 1.8;
                text-align: start;
                padding: 0 1rem;
              ">
            We are thrilled to have you here and hope you enjoy browsing
            through our latest collection of stylish and trendy craftsmanship.
            From timeless classics to fashion-forward craftsmanship, we have
            something for everyone. At our company, we strive to offer
            high-quality affordable craftsmanship without compromising on
            style or comfort. Whether you are looking for the perfect outfit
            for a special occasion or simply want to update your wardrobe with
            some new essentials, we have got you covered. Thank you for
            choosing us, and we look forward to helping you find the perfect
            pieces to express your unique style.
          </p>
        </div>
      </div>
    </div>
    <div style="margin-bottom: 2rem"></div>
    <div class="container">
      <div
        style="
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            align-items: center;
            justify-content: center;
          ">
        <div style="flex: 1; min-width: 300px">
          <p
            style="
                font-size: 1.2rem;
                line-height: 1.8;
                text-align: start;
                padding: 0 1rem;
              ">
            At our clothing garment company, we feel ecstatic for providing
            top-notch service to our customers. From the moment you reach out
            to us, you can expect nothing but professionalism and dedication
            to meeting your needs. Whether you are looking for a specific type
            of fabric or need assistance with custom orders, our team is here
            to help every step of the way. We understand the importance of
            quality and timeliness in the fashion industry, which is why we
            strive to deliver exceptional service and products that exceed
            your expectations. Trust us to be your go-to source for all your
            clothing garment needs, and experience the difference of working
            with a company that truly cares about your satisfaction.
          </p>
        </div>
        <div style="flex: 1; min-width: 300px; text-align: center">
          <img
            alt="Product Image"
            src="/assets/pdfimg/product2.png"
            style="
                width: 100%;
                max-width: 40rem;
                height: auto;
                border-radius: 10px;
              " />
        </div>
      </div>
    </div>

    <div style="margin-bottom: 2rem"></div>
    <div class="container">
      <h2
        style="margin-bottom: 2rem; text-align: center"
        class="line-with-text headerText">
        ❋&nbsp;Our Products Unit&nbsp;❋
      </h2>

      <div
        style="
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            align-items: center;
            justify-content: center;
          ">
        <div style="flex: 1; min-width: 300px; text-align: center">
          <img
            alt="Product Image"
            src="/assets/Card/prodUnit1.png"
            style="
                width: 100%;
                max-width: 40rem;
                height: auto;
                border-radius: 10px;
              " />
        </div>

        <div style="flex: 1; min-width: 300px">
          <p
            style="
                font-size: 1.2rem;
                line-height: 1.8;
                text-align: start;
                padding: 0 1rem;
              ">
            At OsianStar, our product unit is dedicated to delivering
            excellence through advanced manufacturing, innovation, and quality
            control. With state-of-the-art facilities and a commitment to
            craftsmanship, we ensure that every product meets the highest
            standards of durability, comfort, and style.
            <b>Advanced Manufacturing Facilities</b>

            Equipped with the latest technology to enhance efficiency and
            precision. Sustainable production methods to minimize
            environmental impact. Stringent quality checks to maintain product
            consistency.Diverse Product Range We offer a wide selection of
            high-quality fabrics and ready-made garments that cater to
            different needs: Textile Fabrics: Cotton, synthetic, and blended
            fabrics designed for durability and comfort.
          </p>
        </div>
      </div>
    </div>
    <div style="margin-bottom: 2rem"></div>
    <div class="container">
      <div
        style="
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            align-items: center;
            justify-content: center;
          ">
        <div style="flex: 1; min-width: 300px">
          <p
            style="
                font-size: 1.2rem;
                line-height: 1.8;
                text-align: start;
                padding: 0 1rem;
              ">
            Ready-Made Garments: Stylish and modern apparel for women and
            kids, combining fashion with functionality. Custom Orders:
            Tailored solutions for bulk and specialized requirements.
            Innovation & Sustainability We prioritize eco-friendly production
            by using sustainable materials and minimizing waste. Our research
            and development team continuously explores new designs, ensuring
            we stay ahead in the market. Commitment to Excellence With decades
            of expertise, we have built a reputation for delivering superior
            quality products. Our dedicated team ensures that every piece
            reflects our values of innovation, reliability, and customer
            satisfaction.
          </p>
        </div>
        <div style="flex: 1; min-width: 300px; text-align: center">
          <img
            alt="Product Image"
            src="/assets/Card/prodUnit2.png"
            style="
                width: 100%;
                max-width: 40rem;
                height: auto;
                border-radius: 10px;
              " />
        </div>
      </div>
    </div>
    <div style="margin-bottom: 2rem"></div>
    <div class="container">
      <h2
        style="margin-bottom: 2rem; text-align: center"
        class="line-with-text headerText">
        ❋&nbsp;A Peek Inside Our Productive World &nbsp;❋
      </h2>
      <div
        style="
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            align-items: center;
            justify-content: center;
          ">
        <div style="flex: 1; min-width: 300px; text-align: center">
          <img
            alt="Product Image"
            src="/assets/Card/work1.png"
            style="
                width: 100%;
                max-width: 40rem;
                height: auto;
                border-radius: 10px;
              " />
        </div>
        <div style="flex: 1; min-width: 300px">
          <p
            style="
                font-size: 1.2rem;
                line-height: 1.8;
                text-align: start;
                padding: 0 1rem;
              ">
            At Osian Star, we take pride in our meticulous craftsmanship,
            premium fabrics, and innovative designs to create stylish and
            high-quality clothing for modern lifestyles. Our commitment to
            excellence ensures that every piece we produce meets the highest
            standards of comfort, durability, and fashion. Our Expertise in
            Clothing Manufacturing Fabric Selection We use the finest
            materials, including premium cotton, linen, rayon, and synthetic
            blends, ensuring superior quality and comfort. Design & Innovation
            Our expert designers stay ahead of fashion trends, blending modern
            aesthetics with timeless styles. Precision Stitching & Detailing
            Every garment undergoes expert tailoring, intricate stitching, and
            finishing touches for a refined look. Eco-Friendly Approach
            Sustainability is at the core of our production process, using
            eco-conscious fabrics and minimizing waste.
          </p>
        </div>
      </div>
    </div>
    <div style="margin-bottom: 2rem"></div>
    <div class="container">
      <h2
        style="margin-bottom: 2rem; text-align: center"
        class="line-with-text headerText">
        ❋&nbsp;Team&nbsp;❋
      </h2>
      <h4 style="margin-bottom: 2rem; text-align: center" class="headerText">
        ✨&nbsp;Growing Together: Where Every Thread Counts, Every Member
        Flourishes&nbsp;✨
      </h4>
      <div
        style="
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            align-items: center;
            justify-content: center;
          ">
        <div style="flex: 1; min-width: 300px">
          <p
            style="
                font-size: 1.2rem;
                line-height: 1.8;
                text-align: start;
                padding: 0 1rem;
              ">
            At Osian Star, we are dedicated to revolutionizing the textile and
            apparel industry through innovation, quality, and craftsmanship.
            With decades of experience in fabric manufacturing and garment
            production, we have built a strong reputation for delivering
            premium-quality products that blend tradition with modern fashion.
            Our commitment to excellence, sustainability, and customer
            satisfaction drives us to create garments that are stylish,
            durable, and comfortable. From high-end fabrics to ready-made
            apparel, we take pride in serving both local and international
            markets with products that meet the highest industry standards.
          </p>
        </div>
        <div style="flex: 1; min-width: 300px; text-align: center">
          <img
            alt="Product Image"
            src="/assets/Card/team.png"
            style="
                width: 100%;
                max-width: 40rem;
                height: auto;
                border-radius: 10px;
              " />
        </div>
      </div>
    </div>

  </div>
</div>
