<div class="image-container">
  <img
    src="/assets/scarvesBackGround/scarvesBg.jpg"
    alt="scarvesBackGround"
    style="
      width: 100%;
      height: 100%;
      vertical-align: middle;
      filter: brightness(0.7);
    " />
  <h1
    style="
      position: absolute;
      text-align: center;
      color: #fff;
      font-size: 4.5rem;
      text-decoration: underline 2px;
    "
    class="pageImgFont">
    Our Scarves
  </h1>
</div>
<div class="image-containerAsk">
  <img src="/assets/fabricAsk.png" alt="bgFabric" class="bg-section">
  <div class="overlay-content">
    <h1 class="overlay-text">Ask us for anything</h1>
    <p class="overlay-textPara">
      Whether you're looking for intricate hand lace, custom machine work,
      or unique textile solutions, we are here to bring your vision to life.
    </p>
    <button
      type="button"
      class="btnAsk"
      (click)="clickOnContactUs()">
      Contact Us&nbsp;<i class="fa-duotone fa-solid fa-phone-volume"></i>
    </button>
  </div>
</div>