<div class="image-container">
  <img
    src="/assets/pgbackground/page1.png"
    alt="bgImg"
    style="
      width: 100%;
      height: 100%;
      vertical-align: middle;
      filter: brightness(0.5);
      object-fit: cover;
    " />
  <h1
    style="
      position: absolute;
      text-align: center;
      color: #fff;
      font-size: 4.5rem;
      text-decoration: underline 2px;
    "
    class="pageImgFont">
    Our Garments
  </h1>
</div>
<div class="container-fluid" style="margin-top: 3rem">
  <div class="container" style="margin-bottom: 3rem">
    <h3
      class="pageImgFont"
      style="text-align: center; margin-bottom: 1rem; color: black">
      ❋&nbsp;Welcome To Osian Star&nbsp;❋
    </h3>
    <p style="font-size: 17px; line-height: 1.8; color: black">At Osian Star, we
      push the boundaries of creativity, transforming fabrics into canvases of
      artistry. Our commitment to excellence goes beyond superior quality—it's
      woven into the very techniques we use to bring your designs to life. With
      a perfect blend of tradition and innovation, we craft embroidered fabrics
      that elevate your brand and inspire the fashion world.
    </p>
  </div>

  <div class="container" style="margin-top: 3rem">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center"
      style="gap: 5rem">
      <!-- Image Section -->
      <div style="flex: 1; min-width: 300px; text-align: center">
        <img
          alt="Floral Print Fabric"
          src="/assets/fabricprints/fabric1.png"
          style="
            width: 100%;
            max-width: 40rem;
            height: 30rem;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          " />
      </div>

      <!-- Text Section -->
      <div style="flex: 1; min-width: 300px">
        <h2
          style="
            text-align: start;
            font-weight: 600;
            text-align: justify;
            padding: 0 1rem;
            color: #000;
            font-size: 42px;
          ">
          Digital Printing
        </h2>
        <p
          style="
            font-size: 17px;
            line-height: 1.5;
            text-align: justify;
            padding: 0 1rem;
            color: #000000;
          "> At Osian Star, we embrace the future of textile design with
          high-quality digital printing. This advanced technique allows us to
          create vibrant, detailed, and long-lasting prints on a variety of
          fabrics. Whether you need intricate patterns, bold graphics, or custom
          artwork, our digital printing process ensures precision, consistency,
          and a stunning finish.

          With eco-friendly inks, unlimited color possibilities, and fast
          turnaround times, digital printing is the perfect solution for
          designers looking to bring their creative visions to life. Elevate
          your fabric collections with prints that captivate and inspire.

          Let's transform your ideas into extraordinary prints!
        </p>
        <div style="padding: 0 1rem; justify-content: center">
          <button
            type="button"
            class="btn"
            (click)="clickOnContactUs()"
            style="
              background-image: linear-gradient(
                120deg,
                #e0c3fc 0%,
                #8ec5fc 100%
              );padding: 8px 1rem 8px 1rem;
              text-align: justify;
            ">
            Contact Us&nbsp;<i class="fa-duotone fa-solid fa-phone-volume"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="margin-top: 3rem">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center"
      style="gap: 5rem">
      <div style="flex: 1; min-width: 300px">
        <h2
          style="
            text-align: start;
            font-weight: 600;
            text-align: justify;
            padding: 0 1rem;
            color: #000;
            font-size: 42px;
          ">
          Screen Printing
        </h2>
        <p
          style="
            font-size: 17px;
            line-height: 1.5;
            text-align: justify;
            padding: 0 1rem;
            color: #000000;
          ">
          At Osian Star, we bring designs to life with the timeless art of
          screen printing. Known for its rich, bold colors and exceptional
          durability, this technique is perfect for creating high-quality prints
          that stand the test of time.

          Using precision-crafted screens and premium inks, we ensure sharp
          details, vibrant hues, and consistent results across a wide range of
          fabrics. Whether you're looking for classic patterns, intricate
          designs, or large-scale production, our screen printing process
          guarantees flawless execution and long-lasting appeal.

          Experience the beauty of screen printing—where tradition meets
          innovation to make your designs unforgettable.
        </p>
        <div style="padding: 0 1rem; justify-content: center">
          <button
            type="button"
            class="btn"
            (click)="clickOnContactUs()"
            style="
              background-image: linear-gradient(
                120deg,
                #e0c3fc 0%,
                #8ec5fc 100%
              );
              padding: 8px 1rem 8px 1rem;
              text-align: justify;
            ">
            Contact Us&nbsp;<i class="fa-duotone fa-solid fa-phone-volume"></i>
          </button>
        </div>
      </div>
      <!-- Image Section -->
      <div style="flex: 1; min-width: 300px; text-align: center">
        <img
          alt="Floral Print Fabric"
          src="/assets/fabricprints/fabric2.png"
          style="
            width: 100%;
            max-width: 40rem;
            height: 30rem;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          " />
      </div>

      <!-- Text Section -->
    </div>
  </div>

  <div class="container" style="margin-top: 3rem">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center "
      style="gap: 5rem">
      <!-- Image Section -->
      <div style="flex: 1; min-width: 300px; text-align: center">
        <img
          alt="Floral Print Fabric"
          src="/assets/fabricprints/fabric3.png"
          style="
            width: 100%;
            max-width: 40rem;
            height: 30rem;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          " />
      </div>

      <!-- Text Section -->
      <div style="flex: 1; min-width: 300px">
        <h2
          style="
            text-align: start;
            font-weight: 600;
            text-align: justify;
            padding: 0 1rem;
            color: #000;
            font-size: 42px;
          ">Hand Block Printing
        </h2>
        <p
          style="
            font-size: 17px;
            line-height: 1.5;
            text-align: justify;
            padding: 0 1rem;
            color: #000000;
          ">At Osian Star, we celebrate the artistry of hand block printing, a
          centuries-old technique that embodies craftsmanship and tradition.
          Each design is meticulously carved onto wooden blocks and carefully
          stamped onto fabric by skilled artisans, creating unique, intricate
          patterns with a personal touch.

          This eco-friendly and sustainable printing method allows for rich
          textures, organic imperfections, and timeless beauty—perfect for
          designers seeking authenticity and heritage in their textiles. From
          floral motifs to geometric patterns, every print tells a story of
          artistry and passion.

          Discover the charm of handcrafted excellence with our hand block
          printing—where tradition meets timeless elegance.
        </p>
        <div style="padding: 0 1rem; justify-content: center">
          <button
            type="button"
            class="btn"
            (click)="clickOnContactUs()"
            style="
              background-image: linear-gradient(
                120deg,
                #e0c3fc 0%,
                #8ec5fc 100%
              );
              padding: 8px 1rem 8px 1rem;
              text-align: justify;
            ">
            Contact Us&nbsp;<i class="fa-duotone fa-solid fa-phone-volume"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="margin-top: 3rem">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center "
      style="gap: 5rem">
      <div style="flex: 1; min-width: 300px">
        <h2
          style="
            text-align: start;
            font-weight: 600;
            text-align: justify;
            padding: 0 1rem;
            color: #000;
            font-size: 42px;
          ">
          Hand Brush Painting
        </h2>
        <p
          style="
            font-size: 17px;
            line-height: 1.5;
            text-align: justify;
            padding: 0 1rem;
            color: #000000;
          ">At Osian Star, we transform fabrics into artistic masterpieces with
          the delicate touch of hand brush painting. This technique allows
          skilled artisans to create one-of-a-kind designs, blending colors
          seamlessly and adding a personal, expressive touch to every piece.

          Unlike mechanical printing, hand brush painting brings fluidity,
          depth, and individuality to textiles, making each creation truly
          unique. From soft gradients to intricate motifs, this method is
          perfect for designers seeking custom, artistic, and high-end fabric
          finishes.

          Experience the beauty of handcrafted elegance, where every brushstroke
          tells a story of passion and precision.
        </p>
        <div style="padding: 0 1rem; justify-content: center">
          <button
            type="button"
            class="btn"
            (click)="clickOnContactUs()"
            style="
              background-image: linear-gradient(
                120deg,
                #e0c3fc 0%,
                #8ec5fc 100%
              );
              padding: 8px 1rem 8px 1rem;
              text-align: justify;
            ">
            Contact Us&nbsp;<i class="fa-duotone fa-solid fa-phone-volume"></i>
          </button>
        </div>
      </div>
      <!-- Image Section -->
      <div style="flex: 1; min-width: 300px; text-align: center">
        <img
          alt="Floral Print Fabric"
          src="/assets/fabricprints/fabric4.png"
          style="
            width: 100%;
            max-width: 40rem;
            height: 30rem;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          " />
      </div>

      <!-- Text Section -->
    </div>
  </div>

  <div class="container" style="margin-top: 3rem">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center"
      style="gap: 5rem">
      <!-- Image Section -->
      <div style="flex: 1; min-width: 300px; text-align: center">
        <img
          alt="Floral Print Fabric"
          src="/assets/fabricprints/fabric5.png"
          style="
            width: 100%;
            max-width: 40rem;
            height: 30rem;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          " />
      </div>

      <!-- Text Section -->
      <div style="flex: 1; min-width: 300px">
        <h2
          style="
            text-align: start;
            font-size: 42px;
            font-weight: 600;
            text-align: justify;
            padding: 0 1rem;
            color: #000;
          ">Spray Painting
        </h2>
        <p
          style="
            font-size: 17px;
            line-height: 1.5;
            text-align: justify;
            padding: 0 1rem;
            color: #000000;
          ">
          At Osian Star, we bring a modern, artistic edge to fabric design
          with spray painting techniques. This method allows for smooth
          gradients, bold contrasts, and unique textures, making every piece a
          work of art. Whether creating abstract patterns, soft color
          transitions, or edgy urban designs, spray painting offers unparalleled
          creative freedom.

          Our skilled artisans use precision spraying techniques to achieve
          customized effects, vibrant hues, and a dynamic visual appeal on
          various fabrics. Perfect for designers looking to make a statement,
          spray painting adds an innovative, contemporary touch to fashion and
          textiles.

          Unleash your creativity with spray-painted fabrics—where bold ideas
          come to life with a mist of color.
        </p>
        <div style="padding: 0 1rem; justify-content: center">
          <button
            type="button"
            class="btn"
            (click)="clickOnContactUs()"
            style="
              background-image: linear-gradient(
                120deg,
                #e0c3fc 0%,
                #8ec5fc 100%
              );
              padding: 8px 1rem 8px 1rem;
              text-align: justify;
            ">
            Contact Us&nbsp;<i class="fa-duotone fa-solid fa-phone-volume"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="margin-top: 3rem">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center"
      style="gap: 5rem">
      <div style="flex: 1; min-width: 300px">
        <h2
          style="
            text-align: start;
            font-weight: 600;
            text-align: justify;
            padding: 0 1rem;
            color: #000;
            font-size: 42px;
          ">Discharge Printing
        </h2>
        <p
          style="
            font-size: 17px;
            line-height: 1.5;
            text-align: justify;
            padding: 0 1rem;
            color: #000000;
          ">At Osian Star, we redefine fabric artistry with discharge printing,
          a unique technique that removes dye from the fabric to create
          intricate patterns and striking contrasts. Unlike traditional printing
          methods that add color, discharge printing works by bleaching out
          specific areas, allowing for soft, breathable, and vibrant designs
          with a natural feel.

          This method is ideal for dark-colored fabrics, producing sharp,
          detailed motifs while maintaining the fabric’s original texture and
          comfort. Whether you're looking for bold statement pieces or delicate
          tonal effects, discharge printing offers a sophisticated and lasting
          finish.

          Discover the beauty of precision and innovation with discharge
          printing, where colors emerge through creative subtraction.
        </p>
        <div style="padding: 0 1rem; justify-content: center">
          <button
            type="button"
            class="btn"
            (click)="clickOnContactUs()"
            style="
              background-image: linear-gradient(
                120deg,
                #e0c3fc 0%,
                #8ec5fc 100%
              );
              padding: 8px 1rem 8px 1rem;
              text-align: justify;
            ">
            Contact Us&nbsp;<i class="fa-duotone fa-solid fa-phone-volume"></i>
          </button>
        </div>
      </div>
      <!-- Image Section -->
      <div style="flex: 1; min-width: 300px; text-align: center">
        <img
          alt="Floral Print Fabric"
          src="/assets/fabricprints/fabric6.png"
          style="
            width: 100%;
            max-width: 40rem;
            height: 30rem;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          " />
      </div>

      <!-- Text Section -->
    </div>
  </div>
</div>
<div class="image-containerAsk">
  <img src="/assets/fabric/fabricAsk.png" alt="bgFabric" class="bg-section">
  <div class="overlay-content">
    <h1 class="overlay-text">Ask us for anything</h1>
    <p class="overlay-textPara"> Whether you're looking for intricate hand
      embroidery, custom machine work, or unique textile solutions, we are here
      to bring your vision to life.
    </p>
    <button
      type="button"
      class="btnAsk"
      (click)="clickOnContactUs()">
      Contact Us&nbsp;<i class="fa-duotone fa-solid fa-phone-volume"></i>
    </button>
  </div>
</div>
